{{> header }}
{{> navbar }}

    <div class="container">
      <div class="jumbotron">
        <div class="container" align="center">
          <h1>{{message}} <span class="title-name">{{title}}</span>!</h1>
          <h2>{{message_line_two}}</h2>
        </div>
      </div>
    </div>
    
{{> footer }}
